{% load static %}
{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=chrome">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LS Admin - Coordinator Profile</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'Admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'Admin/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link rel="icon" href="{% static 'assets/img/favicon1.png' %}">


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

     <!-- Sidebar -->
     <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'adminDashboard' %}">
        <div class="sidebar-brand-icon">
          <img src="{% static 'assets/img/favicon1.png' %}" class="img-fluid">
        </div>
        <div class="sidebar-brand-text mx-3">Leave Spot Admin</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'adminDashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Members
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseCoordinators" aria-expanded="true" aria-controls="collapseCoordinators">
          <i class="fas fa-fw fa-user-tie"></i>
          <span>Coordinators</span>
        </a>
        <div id="collapseCoordinators" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item active" href="{% url 'coordinatorProfile' %}">Coordinator Profiles</a>
          </div>
        </div>
      </li>

       <!-- Nav Item - Students Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStudents" aria-expanded="true" aria-controls="collapseStudent">
          <i class="fas fa-fw fa-user-graduate"></i>
          <span>Students</span>
        </a>
        <div id="collapseStudents" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'studentProfile' %}">Student Profiles</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

  <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Ankit Thakur</span>
                <img class="img-profile rounded-circle" src="{% static 'Admin/img/dp.jpg' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Coordinators Profile</h1>
          <p class="mb-4">Here you can find all the registered coordinators in the given below table.</p>

          <!-- DataTables Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List of Coordinators</h6>
              <button type="button" class="mt-2 btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#signupModal"><i class="fas fa-plus fa-sm text-white-50"></i> Add New </button>

              {% if messages %}
              {% for message in messages %}
                <h4 class="text-success">{{message}}</h4>
              {% endfor %}
              {% endif %}
            </div>
            <div class="card-body">
            
              <div class="table-responsive" style="align-items: center;">
                <table class="table table-bordered" id="dataTable" style="text-align:center;" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Coordinator Id</th>
                      <th>Name</th>
                      <th>Course</th>
                      <th>Semester</th>
                      <th>Section</th>
                      <th>Email Id</th>
                      <th>Password</th>
                      <th>UPDATE</th>
                      <th>DELETE</th>
                    </tr>
                  </thead>
                    
                    {% for data in coordinatorData %}
                      <tr>
                        <th>{{ data.id }}</th>
                        <th>{{ data.Name }}</th>
                        <th>{{ data.Course }}</th>
                        <th>{{ data.Semester }}</th>
                        <th>{{ data.Section }}</th>
                        <th>{{ data.Email_Id }}</th>
                        <th>{{ data.Password }}</th>
                        <td>
                          <form action="{% url 'coordinatorProfileUpdate' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="UpdateId" value="{{ data.id }}" >
                            <input type="submit" class="btn-sm btn-success shadow-sm" name="edit_btn" value="Edit">
                          </form>
                        </td>
                        <td>
                          <form id="DltFrm" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="DeleteId" value="{{ data.id }}" >
                            <input type="hidden" name="DeleteEmail" value="{{ data.Email_Id }}" >
                            <button type="submit" class="btn-sm btn-danger shadow-sm" onclick="cnfrm()" name="DeleteBtn"> Delete </button>
                          </form>
                        </td>
                        
                      </tr>
                    {% endfor %}

                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container" style="margin-top:-20px;margin-bottom:-30px;">
      <div class="copyright text-center ">
        <span>
          &copy; <strong>LeaveSpot</strong> <script>document.write(new Date().getFullYear());</script> <br/><br/>
          Designed with 💝 by <a href="https://tankit5210.wixsite.com/my-folio" target="_blank">Ankit Kumar</a>
        </span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="{% url 'Logout' %}">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Signup Modal-->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Create an Account!</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <form class="user" action = "{% url 'InsertCoordinator' %}" method="POST">
              {% csrf_token %}
             <div class="form-group row mx-auto mt-3">
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="InputName" name="Name"placeholder="Full Name" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="Course" name="Course" placeholder="Course Name" required>
                </div>
              </div>
              <div class="form-group row mx-auto">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="Semester" name="Semester" placeholder="Semester" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="Section" name="Section" placeholder="Section" required>
                </div>
              </div>
              <div class="form-group mx-auto">
                <div class="col-sm-12">
                <input type="email" class="form-control form-control-user" id="InputEmail" name="Email_Id"placeholder="Email Address" required>
                </div>
              </div>
              <div class="form-group row mx-auto">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="InputPassword" name="Password" placeholder="Password" required>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="RepeatPassword" name="RepeatPassword" placeholder="Repeat Password" required>
                </div>
              </div>
              <div class="col-sm-6 mx-auto">
              <input type="submit" class="btn btn-success btn-user btn-block" name = "RegisterBtn" value="Register Account" />
            </div>
              <hr>
            </form>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'Admin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'Admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'Admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'Admin/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'Admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'Admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>  

<script>
  function cnfrm()
  {
    if(confirm("Do you want to delete this record ?") == true)
      document.getElementById('DltFrm').action="{% url 'DeleteCoordinator' %}";
    else
      document.getElementById('DltFrm').action="{% url 'coordinatorProfile' %}";
  }
</script>

</body>

</html>

{% else %}
<script>alert("You have been logged out.");
  window.location.href="{% url 'admin' %}";
</script>
{% endif %}